.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3em;
    width: 100%;
    box-sizing: border-box;
}

.top-bar-container {
    position: fixed;
    z-index: 10;
    background-color: var(--main-bar-purple);
    height: 3em;
    width: 100vw;
    transition: height .5s ease-in-out;
    box-sizing: border-box;
}

.top-bar h1 {
    font-size: 1.8em;

}

.room-name {
    font-size: 1em;
    font-weight: 400;
    color: white;
}

.icons-right {
    display: flex;
    margin-right: 1em;
    align-items: center;
}

.notification-expand {
    display: flex;
    flex-direction: column;
    height: 100vh;

}

.button-null {
    background: none;
    border: none;
    outline: none;
    height: 3em;
}

.top-bar-notification {
    display: flex;
    flex-direction: column;
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s ease-in-out;
    transition-delay: 400ms;
    background-color: rgba(255, 255, 255, 0.300);
    z-index: 10;
    height: 9em;
    width: 100%;
    justify-content: space-between;
    box-sizing: border-box;


}

.expand {
    visibility: visible;
    opacity: 1;
    justify-content: center;
    align-items: center;
}