.chat-bubble {
    min-height:calc(3em - 10px);
    color: black;
    font-size: 16px;
    border-radius: 10px;
    width: 50vw;
    margin-left: 1em;
    position: relative;
    margin-top: 1.5em;
    padding: 5px 1em;
}

.chat-bubble:after {
    content: '';
    position: absolute;
    top: 0;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-bottom-color: #D8DCFF;
    border-top: 0;
    border-right: 0;
    margin-left: -10px;
    margin-top: -20px;
}

.own-chat-row .chat-bubble {
    background-color: #D9E7BA;
    color: black;
    text-align: right;
    float:right;
    margin-right:1em;
}

.own-chat-row .chat-bubble:after {
    content: '';
    position: absolute;
    top: 0;
    right: 2em;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-bottom-color: #D9E7BA;
    border-top: 0;
    border-left: 0;
    margin-right: -20px;
    margin-top: -20px;
}

.not-own-chat-row .chat-bubble {
    background-color: #D8DCFF;
    color: black;
    text-align: right;
    float:left;
    margin-right:1em;
}

.not-own-chat-row .chat-bubble:after {
    content: '';
    position: absolute;
    top: 0;
    left: 2em;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-bottom-color: #D8DCFF;
    border-top: 0;
    border-right: 0;
    margin-left: -20px;
    margin-top: -20px;
}