.chat-bubble {
    background-color: #D8DCFF;
    min-height:calc(3em - 10px);
    color: black;
    text-align: left;
    font-size: 16px;
    border-radius: 10px;
    width: 50vw;
    margin-left: 1em;
    position: relative;
    margin-top: 2em;
    padding: 5px 1em;
}

.chat-bubble:after {
    bottom: 100%;
    left: 7%;
    border: solid transparent;
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-width: 10px;
    margin-left: -10px;
}

.own-chat-row .chat-bubble {
    background-color: #D9E7BA;
    color: black;
    text-align: right;
    float:right;
    margin-right:1em;
}