.Bubble {
    background-color: #D8DCFF;
    min-height:calc(3em - 10px);
    color: black;
    text-align: left;
    font-size: 16px;
    border-radius: 10px;
    width: 313px;
    left: 10px;
    position: relative;
    margin-top: 3em;
    padding:5px 1em;
}

.Bubble:after {
    bottom: 100%;
    left: 7%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-width: 10px;
    margin-left: -10px;
}

.ownChatRow .Bubble {
    background-color: #D9E7BA;
    color: black;
    text-align: right;
}

.ownChatRow .AvatarImg {
    width: 3em;
    height: 3em;
    border-radius: 15px;
    position: absolute; 
    right: 0;
    margin-top: 0em;
}