.top-bar {
    position: fixed;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3em;
    background-color: var(--main-bar-purple);
    width: 100vw;
}

.top-bar h1 {
    font-size: 2em;
}

.room-name {
    font-size: 1em;
    font-weight: 400;
    color: white;
}

.icons-right {
    display: flex;
    margin-right: 1em;
    align-items: center;
}