
.logo-grid {
    display: grid;
    height: 3em;
    width: 50px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 50%);
    align-items: center;
    justify-content: center;
    margin-left: 1em;
}

.main-logo {
    height: 80%;
    grid-area: 1 / 1 / span 2 / span 3;
}

.notification-count { 
    grid-area: 1 / 3 / 2 / 5;
}