.notification-bar {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.notification-avatar-grid {
    display: grid;
    grid-template-columns: repeat(5, 20%);
}