.yellow-bubble {
    background-color: yellow;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 1em;
    text-align: center;
    display: none
}

.visible {
    display: block;
}