

.input-bar {
    position: fixed;
    z-index: 1;
    bottom: 0;
    width: 100vw;
    height: 3em;
    background-color: #797A9E;
    display: grid;
    grid-template-columns: 1fr 50px 50px;
}

.message-container {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1;
    width: 100%;
    height: 3em;
}

.message-bar {
    width: 98%;
    height: 2em;
    border-radius: 5px;
    font-size: 15px;
    background: #ffffff;
    font-weight: 500;
    padding-left: 5px;
}

.message-bar:focus {
    -webkit-box-shadow:inset 0 0 10px #000;
       -moz-box-shadow:inset 0 0 10px #000;
            box-shadow:inset 0 0 10px #000;
    outline: none;
  }

.grid-col1 {
    grid-column: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.submit-btn {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #6c6d8e;
    color: #ffffff;
    border: 1px solid #797A9E; 
}

.submit-btn:active {
    background-color: #60617e;
}

.submit-btn:focus {
    outline: none;
}

.paper-clip { 
    display: flex;
    justify-self: center;
    align-self: center;
    grid-column: 3;
    height: 100%;
    width: 100%;
    filter: invert(100%);
    margin: 0 auto;
}

.paper-clip:hover {
    filter: invert(0%);
}