.arrow-button-container {
  background-color: #797a9e;
  height: 50px;
  width: 50px;
}

.arrow1 {
  background: white;
  width: 3px;
  height: 30px;
  position: relative;
  left: 24px;
  top: 10px;
  transition: transform 0.5s ease-in-out;
}

.arrow2 {
  background: white;
  width: 3px;
  height: 30px;
  position: relative;
  left: 24px;
  bottom: 20px;
  transform: rotate(90deg);
  transform-origin: center;
  transition: transform 0.5s ease-in-out;
}

.arrow1:hover {
}

.arrow2:hover {
}

.arrow1-open {
  transform: rotate(-45deg) translate(14px);
}

.arrow2-open {
  transform: rotate(45deg) translate(-14px);
}
